*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Inter', sans-serif;
}
section{
    display: flex;
    margin: 0;
    padding: 0;
}
.width{
    width: 100%;
}
.bnnr{
    background-image: url(../assignment1/images/donation13.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    background-size: cover;
}
.bnnr h1{ 
    color: white;
    font-size: 50px;
}
.bnr-txt {
    padding: 200px 350px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: inline-block;
}
.bnr-txt p{
    display: flex;
    margin: 20px 0;
    font-size: 15px;
    font-weight: 100;
}
.donate-bttn{
    color: white;
    text-decoration: none;
    padding: 10px 10px;
    background-color: #FF5959;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}


.donate-part {
    text-align: center;
    width: 100%;
}

.dnt-heading {
    text-align: center;
    padding: 70px 350px 20px;
}
.dnt-heading h2{
    font-size: 40px;
}
.dnt-heading p {
    color: #707070;
    font-weight: 300;
    margin: 20px 0;
}

.quick-dnt-box{
    display: flex;
}
#tk-box-slctd{
    background-color: rgba(255, 187, 187, 0.3);
    color: #FF5959 !important;
    border: solid #FF5959;
    font-weight: 700;
    font-size: 25px;
    padding: 30px;
    border-radius: 5px;
}
.txt-box{
    margin-bottom: 50px;
}
.quick-dnt-box{
    margin-left: 300px;
    margin-bottom: 30px;
}
.tk-box {
    padding: 30px;
    border-radius: 5px;
    margin: 0 10px;
    background-color: #FAFAFA;
}
.tk-box p{
    color: #707070;
    font-weight: 700;
    font-size: 25px;
}


.ftext{
    border-top: 0;
    border-bottom: solid rgba(156, 156, 156, 0.5) 1px;
    border-left: 0;
    border-right: 0;
    text-align: center;
}

input::placeholder {
    color: red;
}

label,
input {
    font-family: sans-serif;
}

